.body-background {
    background-image: url('../img/back.png');
    background-size: cover;
}
.post-background {
    width: 90%;
    max-width: 700px;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
}
.post-sign {
    font-family: 'Acme', sans-serif;
    color: white;
}
.table-background {
    border: 2px solid black;
    border-radius: 25px;
    background-color: rgba(255,255,255,0.9);
}

.header h1{
    font-family: 'Bree Serif', serif;
    text-shadow: 1px 1px 1px white;
    color: #fc4219;
}
.header h3 {
    font-family: 'Acme', sans-serif;
    color: #37f241;
    text-shadow: 1px 1px 1px blue;
}
.post-table {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
}
.post-table h5 {
    font-size: 1.1em;
    color: black;
    overflow: hidden;
    color: #2b2a29;
    padding-top: 0.3em;
    font-family: 'Acme', sans-serif;
}
.post-unit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5em;
}
footer p{
    font-family: 'Bree Serif', serif;
    font-size: 0.9em;
    text-shadow: 1px 1px 1px white;
}
.bar {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    
}
.bar a {
    width: 100px;
    color: #ea8585;
    font-size: 1.2em;
    text-shadow: 1px 1px 1px black;
    text-decoration: underline;
}

.newbutton {
    display: flex;
    justify-content: center;
}
.newbutton button {
    width: 90px;
    height: 35px;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: green;
    color: white;
    margin-top: 1em;
}
